<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style 
        include style.css
</head>
<body>
    //- navbar starts here from bootstarp
    <nav id='navbar'>
        <ul>
        <li><a href='#'>Home</a></li>
        <li><a href='#'>Blogs</a></li>
        <li><a href='#'>Services</a></li>
        <li><a href='#'>About</a></li>
        <li><a href='#'>Contact Us</a></li>
        </ul>
    </nav>

    //- container starts here
    
    <div id="container">
        <div id='inner-container' > 
            <h1>Enter Your Details Here</h1>
            <form action="/" method='post'>
                <input type="text" name="name" id="name" placeholder="Enter your name here">
                <input type="email" name="email" id="email" placeholder="Enter your email Address">
                <input type="number" name="number" id="number" placeholder="Enter your phone number">
                <textarea name="address" id="address" cols="30" rows="10" placeholder="Enter your Address"></textarea>
                <button type="submit" class="btn">SUBMIT</button>
            </form>
        </div>
    </div>
</body>
</html>