extends base.pug

block scripts
    script(src='../static/script.js')
block style
    style
        include ../static/css/home.css
        include ../static/css/about.css

block firstcontainer
    section#about-container
    